/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.review {
  margin-top: 12px;
  border-top: 2px solid gray;
  padding-top: 12px;
}

.header {
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.aside { margin-top: 36px; }


img { border: 0px solid #CCC; #999; }



